asgiref==3.9.2
black==25.9.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
cryptography==42.0.8
defusedxml==0.7.1
Django==5.0.14
django-extensions==3.2.3
easy-thumbnails==2.8.5
idna==3.10
MarkupSafe==3.0.3
mypy_extensions==1.1.0
oauthlib==3.3.1
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
pycparser==2.23
PyJWT==2.10.1
pyOpenSSL==24.1.0
python-decouple==3.8
python3-openid==3.2.0
pytokens==0.1.10
requests==2.31.0
requests-oauthlib==2.0.0
social-auth-app-django==5.4.0
social-auth-core==4.8.0
sqlparse==0.5.3
urllib3==2.5.0
Werkzeug==3.0.2
